<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mariscos Puerto Victoria</title>
  </head>
  <body>

    <div class="contenedor">
        <header role="banner">
              <div class="logo">
              	  <center>
              	  	  <img src="img/logo.jpg">
              	  </center>        
              </div>
              <nav class="menu" role="navigation">
                  <u>
                  <li><a href="#">Inicio</a></li>
                  <li><a href="#">Galeria</a></li>
                  <li><a href="#">Sucursales</a></li>
                  <li><a href="#">Contacto</a></li>
                  </u>
              </nav>
        </header>

        <main class="contenido" role="main">
            <section>
                <h2>Contacto</h2>
               
            </section> <!--section.platillos-->

           
        <div class="menu">
              <nav>
                menu aqui
              </nav>
        </div>
        <p>Desarrollado by <a href="http://www.github.com/PillosMen"> Ing. José González</a> &mdash; Todos los derechos reservados &copy; 2018</p>
    </footer>

  </body>
</html>
